<% layout("/layouts/boilerplate.ejs")%>
    <div class="row mt-3">
        <div class="col-8 offset-3">
            <h3>
                <%= listitem.title %>
            </h3>
        </div>
        <div class="card col-6 offset-3 show-card listing-card">
            <img src="<%= listitem.image.url %>" class="card-img-top show-img" alt="Listing_image">
            <div class="card-body">
                <p class="card-text"> <i>
                        <%= listitem.owner.username %>
                    </i> </p>
                <p>
                    <%= listitem.description %>
                </p>
                <p> &#8377;<%= listitem.price ? listitem.price.toLocaleString("en-IN") : "N/A" %> /night </p>
                <p>
                    <%= listitem.location %>
                </p>
                <p>
                    <%= listitem.country %>
                </p>

            </div>
        </div>
        <br>

        <% if (currUser && currUser._id.equals(listitem.owner._id)) { %>
            <div class="btns">
                <a href="/listings/<%= listitem._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn"> Edit</a>
    
    
                <form action="/listings/<%= listitem._id %>?_method=DELETE" method="post">
                    <button class="btn btn-dark offset-5">Delete </button>
                </form>
            </div>
            <% } %>
      
        <div class="col-8 offset-3 mb-3 ">
            <hr>
            <% if (currUser) { %>
             
           
            <h4>Leave a Review</h4>
            <form action="/listings/<%= listitem.id %>/reviews" method="post" novalidate class="needs-validation">
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" name="review[rating]" id="rating" min="1" max="5" class="form-range">
                </div>
                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">Comments</label>
                    <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control"
                        required></textarea>
                    <div class="invalid-feedback">Please Add some comment for review</div>
                </div>
                <button class="btn btn-outline-dark">Submit</button>
            
            </form>
            <hr>
            <% } %>
            
            <p><b>All Reviews</b></p>
            <div class="row">
                <% for(review of listitem.reviews){ %>
                    <div class="card col-5 mb-3 ms-3">
                        <div class="card-body">
                            <h5 class="card-title">@<%= review.author.username %></h5>
                            <p class="card-text">
                                <%= review.comment %>
                            </p>
                            <p class="card-text">
                                <%= review.rating %> Stars
                            </p>
                        </div>
                        <form class="mb-3" method="POST"
                            action="/listings/<%=listitem._id%>/reviews/<%=review._id %>?_method=DELETE">
                            <button class="btn btn-sm btn-dark">Delete</button>
                        </form>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>