<% layout("/layouts/boilerplate.ejs")%>
<body>
    <h3>Listing Details</h3>
    <ul>
        <li><%= listitem.title %></li>
        <li><%= listitem.description %></li>
        <li>&#8377;<%= listitem.price.toLocaleString("en-IN") %></li>
        <li><%= listitem.image.filename %></li>
        <li><a href="<%= listitem.image.url %>"><%= listitem.image.url %></a></li>
        <li><%= listitem.location %></li>
        <li><%= listitem.country %></li>
    </ul>
    <br><br>
    <a href="/listings/<%= listitem._id %>/edit"> edit this listing</a>
    <a href="/listings/<%= listitem._id %>/edit"> edit this listing</a>

    <form action="/listings/<%= listitem._id %>?_method=DELETE" method="post">
        <button>delete this listing</button>
    </form>
</body>
